.logo {
  display: inline-block;
  background: url(../images/logo.png) 0 0 no-repeat;
  background-size: contain;
  height: 62px;
  width: 198px;
  vertical-align: middle;
}

body {
  // position : absolute;
  text-align: center;
  height: 100vh;
  background: #89609e;
  background-size: cover;
  font: 14px normal "Varela Round", Helvetica, serif;
}

.marginS {
  height: calc(100% - 40px);
  max-width: 350px;
  position: absolute;
  padding: 6% 6%;
  text-align: center !important;
}

small {
  font-size: 80%;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.5);
}

h3 {
  color: #fff;
  font-weight: bold;
  font-size: 1.17em;
  margin-bottom: 0;
  text-align: left;
  padding: 2%;
}

.list {
  background: rgba(222, 225x, 227, 0.9);
  border-radius: 3px;
  padding: 0.75em;
  width: 350px;
  margin: 2%;
}

.add {
  padding: 0 !important;
}

.boards h3 {
  padding-bottom: 4% !important;
  margin: 0;
  color: #363030;
}

.newBoard {
  background-color: rgba(0, 0, 0, 0.3) !important;
  color: gray;
  padding-top: 9% !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.list h3 {
  padding-bottom: 2%;
  margin: 0;
  color: #363030;
}

.newCard {
  background-color: inherit;
}

footer {
  text-align: center !important;
  font-size: 1.2em;
    position: absolute;
  bottom: 0px;
  margin:0 auto;
  background-color: rgba(0, 0, 0, 0);
  // margin: 0% 0% 0% %;
  a {
    color: #bdc3c7;
  }
}

.board {
  margin-left: 0px;
}

.boards {
  background: rgba(222, 225, 227, 0.9);
  border-radius: 3px;
  margin: 0 0.5em 1em 0.5em;
  width: 100%;
  line-height: 1.75em;
  overflow: hidden;
  padding: 0.75em;
  min-height: 5em;
  cursor: pointer;
}

.card {
  background: #fff;
  padding: 0.5em;
  border-radius: 3px;
  border-bottom: 1px solid #bdc3c7;
}
