@mixin shape {
  width: 350px !important;
  border-radius: 5px !important;
}

.input {
  @include shape;
  margin: 0em !important;
  border: 0px none;
  color: black;
  padding: 1.6em;
  line-height: 1.2em;
  font-size: 1.3em;
}

.button {
  @include shape;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 1em;
  font-size: 1.2em;
  line-height: 1.2em;
  box-sizing: inherit;
  margin-bottom: 2.3em;
  &:hover {
    color: #89609e;
    background: #fff;
    transition: all 0.21s ease-out 0s;
  }
}

.transparent {
  // font-size: 4em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  & hover {
    text-decoration: none;
    color: white;
    transition: all 0.21s ease-out 0s;
  }
}
